body{
    background:linear-gradient(45deg,#32adde, #C1C8E4, #8f60e5);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}
@keyframes change {
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
/* 
bảng màu
#32adde
#C1C8E4
#8f60e5
*/
:root{
    --text-bg-:#C1C8E4;
    --text-font: rgb(236, 233, 233);
    --text-bglogo: rgb(11, 10, 105);
    --text-hover: rgb(13, 228, 240);
    --text-bgtitle: #8AAAE5;
    --text-brand: white;
    --brand-content-: rgb(100, 100, 223);
    --text-index-: #FFFFFF;
    --text-border-:grey;
    --text-board-: #5680E9;
    --text-color-:#8860D0;
}
/* ----------------------------------------------------home---------------------------------------------------- */
#first{
    color: var(--text-font);
}
.color{
    color: var(--text-font);
}
.index{
    background-image: linear-gradient(45deg, #32adde, #C1C8E4, #8f60e5);
    background-size: 400% 400%;
    animation: change 20s ease-in-out infinite;
    display: flex;
    width: 100vw;
    height: 14vh;
    line-height: 15vh;
    justify-content: space-between;
    position: fixed;
    top: -1vh;
    color: var(--text-font);
    box-shadow: 0 2px 5px gray;
}
.logo{
    font-size: 4vw;
    padding-left: 6vw;
    font-family: 'Pacifico', cursive;
    color: var(--text-font);
    margin-bottom: 0vh;
}
.logo-img{
    width: 8vw;
    margin-top: 1.5vw;
    position: fixed;
    top: -3vh;
    left: -1vw;
}
.menu{
    display: flex;
    padding-right: 2vw;
    font-family: 'Inter', sans-serif;
    color: var(--text-font);
}
.menu li {
    padding-left: 4vw;
    font-size: 3vh;
}
.brand-vina{
    color: var(--text-brand);
}
.brand-th{
    color: var(--text-brand);
}
.brand-nuti{
    color: var(--text-brand);
}
.product{
    background:linear-gradient(45deg,#32adde, #C1C8E4, #8f60e5);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    width: 13vw; 
    height: 30vh;
    line-height: 10vh;
    position: absolute;
    top: 14.5vh;
    right: 6.8vw;
    display: none;
    border-radius: 15px;
    color: var(--text-font);
}
.product li {
    text-align: center;
    padding: 0;
    color: var(--text-font);
    font-size: 3vh;
}
.index li a:hover{
    color: var(--text-hover);
    transition: color .4s ease-in-out;
}
.menu-product li:hover{
    color: var(--text-hover);
    transition: 1s;
}
.menu .menu-product:hover .product{
    display: block;
}
div >ul>li {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/* ---------------------------------------------------- ảnh bìa động ----------------------------------------------------*/
#slideshow {
    overflow: hidden;
    height: auto;
    width: 90vw;
    margin: 15vh auto;
}
.slide-wrapper {
    width: 270vw;
    -webkit-animation: slide 14s ease infinite;
}

.slide {
    float: left;
    height: auto;
    width: 90vw;
}
.slide >img{
    width: 100%;
    border-top: 3px solid var(--text-font);
    box-sizing: border-box;
    border-bottom: 3px solid var(--text-font);
}
@-webkit-keyframes slide {
    20% {margin-left: 0vw;}
    30% {margin-left: -90vw;}
    50% {margin-left: -90vw;}
    60% {margin-left: -180vw;}
    80% {margin-left: -180vw;}
}
  /* ----------------------------------------------------Vinamilk  ----------------------------------------------------*/
#brand{
    color: var(--text-font);
}
.brand1{
    display: flex;
    align-items: center;
    margin-top: 10vh;
}
.vina-img{
    margin-left: 8vw;
    height: 80vh;
    width: 80vw;
}
.vina-content{
    margin: 5vh 8vw 0 5vh;
}
.brand-intro{
    color: var(--brand-content-);
    background-color: #32adde;
    margin-right: 7vw ;
    border: 2px solid rgba(11, 10, 105, .4);
    border-radius: 25% ;
    height: 35vh;
    font-family: 'Mali', cursive;   
}
.brand-intro>h2{
    font-size: 9vh;
    text-align: center;
    margin-bottom: 1vh;
}
.brand-intro>p {
    text-align: justify;
    color: var(--brand-content-);
    margin: 0 1vw;
    font-weight: 900;
    font-size: 3vh;
}
.brand-link {
    display: flex;
    justify-content: center;
    padding-right: 6vw;
    font-family: 'Merriweather', serif;
}
.brand-link >p{
    margin: 1vw;
    padding: 0.7vw;
    display: inline-block;
    Line-height: 0.4vw;
    font-size: 2vh;
    Letter-spacing: 1vh;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(-45deg, #e7e0e2, #00BCD4, #843dad);
    border-radius: 20px 0 20px 0;
    transition: all ease 1s;
    background-size: 400% 400%;
    background-position: 0 0;
}
.brand-link p:hover{
    border-radius: 0 20px 0 20px;
    background-position: 100% 50%;
}
/* ----------------------------------------------------TH True Milk  ----------------------------------------------------*/
.brand2{
    display: flex;
    align-items: center;
    margin-top: 10vh;
}
.th-img{
    margin-right: 8vw;
    width: 80vh;
}
.th-content{
    margin: 4vw 0 0 10vh;
}
/* ----------------------------------------------------NutiFood ----------------------------------------------------*/
.brand3{
    display: flex;
    align-items: center;
    margin-top: 10vh;
}
.nuti-img{
    margin-left: 8vw;
    width: 33vw;
    height: auto;
}
.nuti-content{
    margin: 4vh 7vw 0 4vh;
}
/* ----------------------------------------------------Mới ra mắt ----------------------------------------------------*/
.new-product{
    display: flex;
    background-color:var(--text-bg-);
}
.new-img{
    width: 16vw;
    height: 39vh;
    margin: 3vh 1.8vw;
}
.new-back >h3{
    height: 10vh;
    text-align: center;
    font-size: 4vh;
    font-weight: 400;
    margin: 0 1vw;
    color: var(--brand-content-);
    border-top: 3px solid var(--text-border-);
    border-left: 3px solid var(--text-border-);
    border-right: 3px solid var(--text-border-);
    border-radius: 30px 30px 0 0;
}
.new-back >h4{
    height: 6vh;
    text-align: center;
    font-weight: 100;
    font-size: 4vh;
    margin: 0 1vw;
    color: var(--brand-content-);
    border-left: 3px solid var(--text-border-);
    border-right: 3px solid var(--text-border-);
    border-bottom: 3px solid var(--text-border-);
    border-radius: 0 0 30px 30px;
    font-family: 'Play', sans-serif;
}
.new-back >h3:hover{
    color: #c0cbff;
    transition-delay: .1s;
    transition: .7s;
    font-family: 'Merriweather', serif;
}
.new-back{
    text-align: center;
}
.new-back:hover{
    background-color: var(--text-board-);
    border-radius: 40px;
    transition: .9s;
}
.new-back >h4:hover{
    color: #FFFFFF;
}
/* Tin Tức */
.media{
    background-color: var(--text-bg-);
    color: var(--text-index-);
    padding-bottom: 1vh;
}
.media-title ,.new-title{
    padding: 4vh;
    background-color: var(--text-bgtitle);
    color: var(--text-index-);
    font-family: 'Inter', sans-serif;
}
.media-new{
    display: flex;
    padding-left: 4vw;
}
.media-col{
    display: flex;
    width: 33vw;
}
.media-img{
    width: 15vw;
    height: 20vh;
    border: black solid 1px;
    box-sizing: border-box;
    margin-top: 8vh;
}
.media-con{
    text-align: justify;
    padding: 0.5vw;
    height: 20vh;
    box-sizing: border-box;
    margin-top: 8.5vh;
}
.media-con >h5{
    margin-top: 4vh;
    text-align: center;
}
.media-con >h4 >a{
    color: var(--brand-content-);
    font-family: 'Dancing Script', cursive;
    font-size: 3vh;
    Line-height: 0.4vw;
}
.media-con >h5 >a{
    color: var(--text-bgtitle);
    font-family: 'Merriweather', serif;
    font-size: 2.5vh;
}
.media-support{
    background: linear-gradient(50deg,#32adde, #C1C8E4, #8f60e5 );
    margin-left: 4vw;
    padding: 8vh 1vw 2vh 3vw;
    width: 35vw;
    border-radius: 20% 0 20% 20%;
    text-align: justify;
    margin-top: 4vh;
    height: 86vh;
}
.fa-headset ,.fa-envelope-open{
    font-size: 13vh;
    color: var(--text-color-);
}
.support-form{
    width: 26vw;
    margin-top: 3vh;
    border: 2px solid var(--brand-content-);
    font-family: 'Dancing Script', cursive;
}
.media-support >h1{
    font-size: 7vh;
    font-family: 'Inter', sans-serif;
}
.media-support >h1 >a, .media-support >h1{
    color: #32adde;
}
.media-support >h2{
    color: var(--text-border-);
    font-family: 'Play', sans-serif;
    font-size: 4.5vh;
}
.support-sub{
    border: 2px solid var(--brand-content-);
    margin-left: 13vw;
    font-family: 'Dancing Script', cursive;
}
/* ----------------------------------------------------Cuối trang---------------------------------------------------- */
.footer{
    background-color: var(--text-border-);
    padding: 0 5vw;
    background-color: var(--text-border-);
    color: var(--text-bg-);
}
.company{
    display: flex;
}
.company-info{
    width: 55vw;
    margin-top: 5vh;
    text-align: justify;
    font-family: 'Play', sans-serif;
    font-size: 3vh;
}
.mxh{
    margin-top: 2vh;
}
.MXH{
    padding: 1vh;
    font-size: 5vh;
}
.fa-facebook{
    color: rgb(27, 81, 198);
}
.fa-facebook:hover{
    background-color: #ffffff;
    border-radius: 50%;
    transition: ease .5s;
}
.fa-instagram{
    color: white;
}
.fa-instagram:hover{
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    border-radius: 30%;
    transition: ease .5s;
}
.fa-youtube-square{
    color: rgb(181, 19, 19);
}
.fa-youtube-square:hover{
    background-image: linear-gradient(45deg, #29cc31 0%,#bb103b 100%);
    border-radius: 60%;
    transition: ease .5s;
}
.company-rules{
    width: 25vw;
    height: 30vh;
    margin-top: 6vh;
    margin-left: 13vw;
    margin-right: 5vw;
    font-family: 'Play', sans-serif;
    font-size: 3vh;
}
.company-rules- >a{
    color: var(--text-bg-);
}
.company-hotline{
    margin-top: 6vh;
    font-family: 'Play', sans-serif;
    font-size: 3vh;
}
#icon-hotline{
    color: var(--text-bg-);
    font-size: 3vh;
    margin: 2vh 0;
}
.company-rules >h4,.company-info >h4,.company-hotline >h4{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.company-info >h5 ,.company-hotline >h5{
    line-height: 2.5vh;
}
.company-rules-{
    height: 3vh;
    box-sizing: border-box;
    margin-top: 3vh;
}
.company-rules- >a:hover{
    color: var(--brand-content-);
}
.dino{
    display: flex;
    font-family: 'Play', sans-serif;
    font-size: 3vh;
}
.dino-law{
    width: 70vw;
    margin-top: 4vh;
}
.dino-logo-img{
    width: 15vw;
    height: auto;
    margin-left: 10vw;
    margin-top: 3vh;
}
/* ----------------------------------------------------support ----------------------------------------------------*/
.form{
    background-color: #c0cbff;
    width: 40vw;
    height: 160vh;
    margin-left: 5vw;
    margin-top: 10vw;
    border-radius: 100px;
}
.contact{
    text-align: center;
    margin: 3vh 0;
    color: var(--brand-content-);
    font-size: 5vh;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}
.contact-wonder{
    margin: 2vh 4vh;
    color: var(--text-board-);
    font-size: 3.5vh;
    font-family: 'Play', sans-serif;
    text-align: justify;
}
legend{
    font-size: 4vh;
    text-align: center;
    font-family: 'Play', sans-serif;
}
.field{
    border-radius: 0 0 100px 100px;
    border: 2px solid var(--text-brand);
    color: var(--text-border-);
}
.form-text{
    background-color: #c0cbff;
    padding: 5vh 2vw;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    border-radius: 0 0 100px 100px;
}
input{
    border-radius: 5px;
    height: 6vh;
    padding: 0 1vw;
    margin: 1vh 0vh 1vh 2vh;
    color: var(--text-bgtitle);  
    font-family: 'Dosis', sans-serif; 
    border: 2px solid var(--text-board-);
    border-radius: 10px;
}
.a1{
    width: 32vw;
    border: 2px solid var(--text-board-);
    border-radius: 10px;
}
.a2{
    height: 20vh;
}
.a3{
    color: var(--text-border-);
    font-size: 3vh;
    font-family: 'Merriweather', serif;
}
.text-form{
    padding: 0 1vw;
}
#support{
    border-radius: 8px;
    border: 2px solid var(--text-board-);
    margin: 2vh 10vw 2vh 1vw;
    color: var(--brand-content-);
    padding: 0px 3vw;
    font-family: 'Dosis', sans-serif;
    font-size: 3vh;
    font-weight: 800;
}
.option{
    color: gray;
    font-family: 'Dosis', sans-serif;
    font-size: 3vh;
}
.text-content-send{
    margin: 2vh 3vw;
    text-align: center;
    font-size: 3vh;
}
.highlight{
    color: var(--text-border-);
    font-family: 'Play', sans-serif;
}
.text-content-send >span >a{
    color: var(--text-color-);
    font-family: 'Play', sans-serif;
}
.text-content-send >span >a:hover{
    color: var(--text-bglogo);
    transition: .5s;
}
.form-submit{
    margin-left: 16vw;
    font-family: 'Play', sans-serif;
}
.form-submit:hover{
    color: var(--text-brand);
    background-color: var(--brand-content-);
    transition: .5s ease-in-out;
}
/*---------------------------------------------------- support ---------------------------------------------------- */
.support-content{
    display: flex;
}
.BMI{
    width: 45vw;
    height: 166.5vh;
    margin-left: 5vw;
    background-color: #c0cbff;
    margin-top: 10vw;
    border-radius: 100px;
}
.BMI >h1{
    font-size: 5vh;
    text-align: center;
    margin: 3vh 0;
    color: var(--brand-content-);
    font-family: 'Merriweather', serif;
    font-weight: 900;
}
.BMI >h3{
    margin: 2% 4%;
    color: var(--text-board-);
    font-family: 'Play', sans-serif;
    font-size: 3.5vh;
    text-align: justify;
}
.BMI >img{
    width: 45vw;
}
.BMI >input{
    width: 30vw;
    margin: 2vh 3vw;
}
.BMI >span{
    font-size: 3vh;
    font-family: 'Play', sans-serif;
}
.form-button{
    padding: 1vw;
    margin: 2vh 0 0 3vw;
    border: 2px solid var(--text-board-);
    border-radius: 20px;
    color: var(--text-border-);
    font-family: 'Play', sans-serif;
}
.form-button:hover{
    color: var(--text-brand);
    background-color: var(--brand-content-);
    transition: .5s ease-in-out;
}
.BMI-form{
    margin: 4vh;
    padding-bottom: 2vh;
}
.BMI-title-{
    font-size: 4vh;
    color: var(--text-border-);
    font-family: 'Play', sans-serif;
}
.BMI-title >h4{
    margin: 5vh 2vh ;
    border: 2px solid var(--text-board-);
    text-align: center;
    font-size: 3vh;
    color: var(--text-border-);
    font-family: 'Merriweather', serif;
}
.BMI-field{
    font-family: 'Cabin', sans-serif;
    height: 66vh;
    border-radius: 0 0 100px 100px;
    border: 2px solid var(--text-brand);
}
.BMI-who{
    display: flex;
    width: 40vw;
    margin: 0 auto;
}
.who1 ,.who2 ,.who3{
    color: var(--text-bglogo);
    width: 25vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    border: 2px solid var(--text-board-);
    box-sizing: border-box;
    font-size: 3vh;
    
}
.who1 >h5,.who2 >h5,.who3 >h5{
    text-align: center;
    height: 5vh;
    font-family: 'Merriweather', serif;
    border-bottom: 2px solid var(--text-board-);
}
.who1 >h6,.who2 >h6,.who3 >h6{
    text-align: center;
    padding: 0.5vh 0;
    font-weight: 400;
}
/* ----------------------------------------------------Vinamilk sản phẩm ----------------------------------------------------*/
/* .vinamilk{
    margin-top: 10vw;
    margin-left: 100vh;
    font-size: 30px;
} */
.vinamilk-box{
    text-align: center;
    margin-top: 10vw;
    font-family: 'Merriweather', serif;
}
.vinamilk-{
    font-size: 15vh;
    background-image: linear-gradient(45deg,rgb(65, 224, 65),rgb(243, 239, 239), rgb(94, 94, 233));
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    color: white;
    padding: 7vh;
    border-radius: 50%;
}
/*---------------------------------------------------- th ---------------------------------------------------- */
/* .TH{
    margin-top: 10vh;

    font-size: 30px;
} */
.TH-box{
    text-align: center;
    margin-top: 10vw;
    font-family: 'Merriweather', serif;
}
.TH-{
    font-size: 15vh;
    background-image: linear-gradient(135deg,rgb(203, 210, 203),rgb(133, 213, 248), rgb(94, 94, 233));
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    color: rgb(204, 223, 233);
    padding: 7vh;
    border-radius: 40px;
}
/*---------------------------------------------------- nuti  ----------------------------------------------------*/
/* .nuti{
    margin-top: 7%;
    margin-left: 3%;
    font-size: 30px;
} */
.nuti-box{
    text-align: center;
    margin-top: 10vw;
    font-family: 'Merriweather', serif;
}
.nuti-{
    font-size: 15vh;
    background-image: linear-gradient(35deg,rgb(79, 222, 79),rgb(180, 208, 220), rgb(97, 62, 32));
    color: rgb(8, 109, 38);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    padding: 7vh;
    border-radius: 30%;
}
.product-box{
    margin-top: 5vw;
    display: flex;
    justify-content: space-around;
}
.box-content{
    margin: 10%;
    width: 80%;
    border: 3px solid grey;
    border-radius: 20px;
    /* background-image: linear-gradient(#2ccb49, #ee19b9); */
    box-shadow: 3px 4px 6px rgb(140, 141, 142);
}
.box-content:hover{
    background-image: linear-gradient(135deg, rgb(202, 233, 246) 30%, rgb(93, 220, 220));
    transition: .5s ease-in-out;
    box-shadow: none;
    border: none;
}
.box-img{
    margin: 5% 10% 2%;
    width: 80%;
    padding: 5%;
    box-sizing: border-box;
}
.box-content >h3{
    font-size: 5vh;
    width: 100%;
    height: 13vh;
    text-align: center;
    font-family: 'Play', sans-serif;
    color: var(--text-font);
}
.box-content >p{
    margin-top: 1vh;
    padding: 2vh 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 3vh;
}
.box-feedback{
    padding: 5px 0;
    color: rgb(220, 220, 81);
    text-align: center;
    font-size: 3.5vh ;
}
.box-feedback >span{
    color: black;
    font-style: italic;
    font-size: 3.5vh;
    font-family: 'Merriweather', serif;
}
.box-pb{
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 0;
    font-size: 3vh;
}
.box-price-{
    font-family: 'Merriweather', serif;
}
.box-buy{
    padding: 2vh 2vh 0 ;
    height: 30px;
    background-image: linear-gradient(45deg,#5680e9, #C1C8E4,#8860D0);
    border-radius: 10px;
    background-position: 0 0;
    transition: all ease .5s;
    background-size: 400% 400%;
    font-family: 'Play', sans-serif;
    color: var(--text-border-);
}
.box-buy:hover{
    border-radius: 35% 0;
    background-position: 100% 50%;
}
/* ----------------------------------------------------hover giá ----------------------------------------------------*/
.box-price1{
    padding: 2vh;
}
.box-sale1{
    display: none;
    position: absolute;
    left: 9vw;
    color: rgb(142, 18, 18);
    text-decoration: line-through;
    font-size: 3vh;
    font-family: 'Merriweather', serif;
}
.box-price1:hover .box-sale1{
    display: block;
}
/* ----------------------------------------------------2 ----------------------------------------------------*/
.box-price2{
    padding: 2vh;
}
.box-sale2{
    display: none;
    position: absolute;
    left: 42vw;
    color: rgb(142, 18, 18);
    text-decoration: line-through;
    font-size: 3vh;
    font-family: 'Merriweather', serif;
}
.box-price2:hover .box-sale2{
    display: block;
}
/* ----------------------------------------------------3 ----------------------------------------------------*/
.box-price3{
    padding: 2vh;
}
.box-sale3{
    display: none;
    position: absolute;
    left: 75vw;
    color: rgb(142, 18, 18);
    text-decoration: line-through;
    font-size: 3vh;
    font-family: 'Merriweather', serif;
}
.box-price3:hover .box-sale3{
    display: block;
}
/* ----------------------------------------------------order ----------------------------------------------------*/
.order{
    display: flex;
    margin-top: 10vw;
}
.order >img{
    width: 32vw;
    margin-left: 5vw;
    border: 7px solid var(--text-font);
    box-sizing: border-box;
}
.order-name{
    margin-left: 5vw;
    width: 33vw;
}
.order-name >h3{
    font-size: 6vh;  
    color: var(--text-font); 
    font-family: 'Play', sans-serif;
}    
.order-sold{
    display: flex;
    margin: 7vh 0 2vh 0;
    font-size: 3vh;
}
.order-sold >p{
    font-family: 'Inter', sans-serif;
}
.order-sold >ul{
    margin-left: 10%;
    color: yellow;   
}
.order-rate{
    color: black;
    font-style: italic;
    font-family: 'Merriweather', serif;
}
.order-price{
    display: flex;
    margin-top: 2vh;
    align-items: center;
    font-family: 'Merriweather', serif;
}
.order-price >h3{
    color: rgb(189, 41, 41);
    margin-right: 3vw;
    font-size: 7vh;
    margin-left: 1vw;
}
.order-price >h4{
    font-size: 4vh;
}
.order-price >h5{
    color: var(--text-border-);
    text-decoration: line-through;
    font-size: 2.5vh;
}
.order-intro{
    margin-top: 3vw;
    display: flex;
    font-size: 4vh;
    justify-content: space-between;
    width: 33vw;
    border: 2px solid var(--text-brand);
    border-radius: 5%;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}
.order-introx >h5{
    margin: 1.5vw;
    width: 15vw;
}
.order-introy >h5{
    margin: 1.5vw;
    width: 12vw;
    font-weight: 100;
}
.order-buy{
    display: block;
    margin-left: 7vw;
    margin-top: 13vh;
}
.order-buy >button{
    padding: 5vh 2.5vw;
    font-size: 4vh;
    font-weight: 700;
    color: var(--text-font);
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 11vh;
    border: 2px solid var(--text-brand);
    box-sizing: border-box;
    background-image: linear-gradient(135deg, #fbc2eb, #a6c1ee);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    font-family: 'Play', sans-serif;
}
.order-click{
    padding: 7vh 2.5vw;
    box-sizing: border-box;
    border: 2px solid var(--text-brand);
    font-weight: 700;
    color: var(--text-font);
    border-radius: 30px;
    font-size: 4vh;
    background-image: linear-gradient(45deg, #fbc2eb, #a6c1ee);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    font-family: 'Play', sans-serif;
}
.order-buy button:hover{
    border: 0;
    color: var(--text-brand);
    box-shadow: 10px 10px 30px var(--text-color-);
}
.order-click:hover{
    border: 0;
    color: var(--text-brand);
    box-shadow: 10px 10px 30px var(--text-color-);
}
.order-des{
    margin: 10vh 30vw 10vh 5vw;
}
.order-des >h2{
    color: var(--text-font);
    margin: 5vh 0;
    width: 20vw;
    padding: 1vh;
    text-align: center;
    border-radius: 10px;
    border: 2px solid;
    font-family: 'Merriweather', serif;
    font-size: 5vh;
}
.order-des >p{
    font-family: 'Inter', sans-serif;
    text-align: justify;
    font-size: 3vh;
}
/* ----------------------------------------------------Hóa đơn---------------------------------------------------- */
.bill{
    margin: 10vw auto 10vw;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #fad0c4, #ffd1ff);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    padding: 5vh;
}
.bill-field >legend{
    font-size: 5vh;
    color: var(--text-bgtitle);
    font-weight: 700;
}
.bill-field{
    border: 2px solid var(--text-brand);
    border-radius: 10px;
}
.bill-field >input{
    margin: 1.5vw;
    font-size: 4vh;
}
.bill-legend{
    font-family: 'Play', sans-serif;
}
.bill1{
    padding: 1vh;
    width: 20vw;
    margin: 1vh;
    border: 1vh solid var(--text-bgtitle);
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
}
.bill-field >p{
    margin: 4vh 5vw 1vh 3vw ;
    font-family: 'Play', sans-serif;
    font-size: 4vh;
}
#part, #parts, #full{
    margin-top: 3vh;
    margin-bottom: 2vh;
    font-family: 'Play', sans-serif;
}
.times{
    font-family: 'Merriweather', serif;
    font-size: 3vh;
}
input[type=radio]{
    border: 0px;
    width: 3vw;
    height: 1em;
    font-family: 'Merriweather', serif;
}
.bill-field >p >i{
    font-family: 'Dancing Script', cursive;
}
.bill-field >span >button{
    padding: 2vh;
    color: var(--text-border-);
    background-image: linear-gradient(30deg, #accbee, #e7f0fd);
    animation: change 3s ease-in-out infinite;
    border-radius: 10px;
    border: 2px solid var(--text-brand);
    margin-bottom: 3vh;
    margin: 2vh 21vw;
    transition: all ease 1s;
    background-size: 400% 400%;
    background-position: 0 0;
    font-family: 'Play', sans-serif;
    font-size: 2vw;
}
.bill-field >span >button:hover{
    border-radius: 50%;
    transition: .4s all ease-in-out;
    background-position: 100% 50%;
}
/* ----------------------------------------------------Về chúng tôi---------------------------------------------------- */
.we-brand{
    margin: 10vw 0 5vw;
    text-align: center;
    font-size: 20vh;
    font-family: 'Pacifico', cursive;
    background: -webkit-linear-gradient(135deg,#fccb90, #d57eeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.we{
    display: flex;
    margin-bottom: 4vh;
}
.we >hr{
    width: 3vw;
    background-image: linear-gradient(45deg,#ff9897, #f650a0);
    border: none;
    background-size: 100% 100%;
    animation: change 5s ease-in-out infinite; 
}
.we-l{
    margin: 3vh 5vw 0;
    width: 100%;
    text-align: right;
}
.we-l >span{
    margin: 2vh 3vw;
    padding: 10px;
    display: inline-block;
    Line-height: 1vh;
    font-size: 3vh;
    Letter-spacing: 1vh;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(-45deg, #ff94b2, #7d77ff);
    border-radius: 0 20px 0 20px;
    transition: all ease 1s;
    background-size: 400% 400%;
    background-position: 0 0;
}
.we-l span:hover{
    border-radius: 20px 0 20px 0;
    background-position: 100% 50%;
}
.we-left ,.we-right{
    font-family: 'Merriweather', serif;
}
.we-r >span{
    margin: 2vh 3vw;
    padding: 10px;
    display: inline-block;
    Line-height: 1vh;
    font-size: 3vh;
    Letter-spacing: 1vh;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(-45deg, #ff94b2, #7d77ff);
    border-radius: 20px 0 20px 0;
    transition: all ease 1s;
    background-size: 400% 400%;
    background-position: 0 0;
}
.we-r span:hover{
    border-radius: 0 20px 0 20px;
    background-position: 100% 50%;
}
.we-r{
    margin: 2vh 5vw;
    width: 100%;
}
.we-l >p,.we-r >p{
    padding: 3vh;
    text-align: justify;
    color: var(--text-border-);
    border: 2px solid var(--text-font);
    border-radius: 10px;
    background-image: linear-gradient(70deg,#74ebd5, #ACB6E5);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: 'Play', sans-serif;
    font-size: 3vh;
}
.we-left.left2{
    margin-top: 15vh;
}
.we-right.right2{
    margin-top: 22vh;
}
.we-r >img{
    width: 60%;
    margin:0 20% ;
}
.we-l >img{
    width: 100%;
    margin-top: 20%;
    border: 2px solid var(--text-font);
    border-radius: 10px;
}
/* ----------------------------------------------------member---------------------------------------------------- */
.mem{
    padding: 2vh;
    height: 5vh;
    margin: 10vh 6vw 5vh;
    border: 2px solid var(--text-font);
    border-radius: 15px;
    background-image: linear-gradient(45deg,#f869d5, #5650de);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    transition: all ease 1s;
    background-position: 0 0;
    color: var(--text-font);
    font-size: 4vh;
    font-family: 'Merriweather', serif;
}
.mem:hover{
    border-radius: 0 25px;
    opacity: .6;
    color: var(--text-hover);
}
.member{
    display: flex;
    margin: 5vh;
}
.people{
    background-image: linear-gradient(45deg,#ff6cab,#7366ff);
    max-width: 33%;
    margin: 0 3vw;
    border-radius: 20px;
    background-size: 400% 400%;
    animation: change 3s ease-in-out infinite;
    transition: all ease 1s;
    background-position: 0 0;
    box-shadow: 5px 5px 10px var(--text-font);
}
.people:hover{
    margin: -1%;
    border: 2px solid var(--text-font);
    box-shadow: none;
}
.people >img{
    width: 50%;
    margin: 5% 25%;
    border: 2px solid var(--text-font);
    border-radius: 50%;
}
.people >h2, .people >h3{
    color: var(--text-font);
    text-align: center;
    margin-bottom: 3vh;
}
.people >h2{
    font-family: 'Play', sans-serif;
    font-size: 8vh;
    color: #47ecd0;
}
.people >h3{
    font-family: 'Dancing Script', cursive;
    color: var(--text-bg-);
    font-size: 4vh;
}
.own{
    margin: 0 auto 2vh ;
    text-align: center;
    font-size: 5vh;
}
.fa-tiktok{
    color: #ffffff;
}
.fa-tiktok:hover{
    background-color: #000000;
    border-radius: 50%;
    transition: ease .5s;
    padding: 0.5% 2%;
}
.fa-envelope{
    color: #ffffff;
}
.fa-envelope:hover{
    background-color: rgb(164, 32, 32);
    transition: ease .5s;
    padding: 0 2%;
}